[Unit]
Description=RAM Usage Notification Timer
Documentation=man:systemd.timer(5)

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=false

[Install]
WantedBy=timers.target
