[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Mae
	email = 45900436+cadrianmae@users.noreply.github.com
[init]
	defaultBranch = main
	templateDir = /home/cadrianmae/.config/git/template
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	template = /home/cadrianmae/.config/git/template/commit-template.txt
