configuration {
    modi: "drun,run,filebrowser";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: " Apps";
    display-run: " Run";
    display-filebrowser: " Files";
    drun-display-format: "{name} [<span size='small'><i>{comment}</i></span>]";
    font: "Cantarell 12";
    terminal: "kitty";
}

@theme "catppuccin-macchiato"
